<footer class="page-footer white">
      <div class="row-footer white">
          <div class="container col-footer l4 s4">
            <a href="#"><img src="assets/icones/map-location.svg" class="image-footer"></a> Rio de Janeiro-RJ
            <a href="#"><img src="assets/icones/redes-sociais/facebook.svg" class="image-footer right"></a>
            <a href="#"><img src="assets/icones/redes-sociais/instagram.svg" class="image-footer right"></a>
            <a href="#"><img src="assets/icones/redes-sociais/pinterest.svg" class="image-footer right"></a>
            <a href="#"><img src="assets/icones/redes-sociais/twitter.svg" class="image-footer right"></a>
          </div>
      </div>
        <div class="container footer-copyright l4 s4 white">
          <div class="copyright">
            @ 2019 Copyright Text
          </div>
        </div>
    </footer>
